{{ define "main" }}

<div class="container">
    {{ if eq .Section "notes" }}
        <div class="mb-4">
            <h1 class="mb-3">{{ .Title }}</h1>
            <p class="lead mb-0">Collection of notes</p>
        </div>

        {{ .Content }}

        <div class="row g-4">
            {{ range .Pages }}
                <div class="card col-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ .LinkTitle }}</h5>
                        <p class="card-text">{{ .Summary }}</p>
                        <a href="{{ .RelPermalink }}" class="btn btn-primary">{{ .LinkTitle }}</a>
                    </div>
                </div>
            {{ end }}
        </div>
    {{ end }}

    {{ if eq .Section "papers" }}
        <div class="mb-4">
            <h1 class="mb-3">{{ .Title }}</h1>
            <p class="lead mb-0">Too many papers</p>
        </div>

        {{ .Content }}

        <div class="row g-4">
            {{ range .Pages }}
                <div class="card col-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ .LinkTitle }}</h5>
                        <p class="card-text">{{ .Summary }}</p>
                        <a href="{{ .RelPermalink }}" class="btn btn-primary">{{ .LinkTitle }}</a>
                    </div>
                </div>
            {{ end }}
        </div>
    {{ end }}

    {{ if eq .Section "projects" }}
    <div class="mb-4">
        <h1 class="mb-3">{{ .Title }}</h1>
        <p class="lead mb-0">Projects plz</p>
    </div>

    {{ .Content }}

    <div class="row g-4">
        {{ range .Pages }}
        <div class="card col-4">
            <div class="card-body">
                <h5 class="card-title">{{ .LinkTitle }}</h5>
                <p class="card-text">{{ .Summary }}</p>
                <a href="{{ .RelPermalink }}" class="btn btn-primary">{{ .LinkTitle }}</a>
            </div>
        </div>
        {{ end }}
    </div>
    {{ end }}

</div>

{{ end }}
