{{ define "main" }}

<div class="container">
    {{ if eq .Section "posts" }}
        <div class="mb-4">
            <h1 class="mb-3">{{ .Title }}</h1>
            <p class="lead mb-0">Collection of thoughts on stuff</p>
        </div>

        {{ .Content }}

        <div class="row g-4">
            {{ range .Pages }}
                <div class="card col-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ .LinkTitle }}</h5>
                        <p class="card-text">{{ .Summary }}</p>
                        <a href="{{ .RelPermalink }}" class="btn btn-primary">{{ .LinkTitle }}</a>
                    </div>
                </div>
            {{ end }}
        </div>
    {{ end }}

    {{ if eq .Section "paper-review" }}
        <div class="mb-4">
            <h1 class="mb-3">{{ .Title }}</h1>
            <p class="lead mb-0">Collection of thoughts on stuff</p>
        </div>

        {{ .Content }}

        <div class="row g-4">
            {{ range .Pages }}
                <div class="card col-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ .LinkTitle }}</h5>
                        <p class="card-text">{{ .Summary }}</p>
                        <a href="{{ .RelPermalink }}" class="btn btn-primary">{{ .LinkTitle }}</a>
                    </div>
                </div>
            {{ end }}
        </div>
    {{ end }}

</div>

{{ end }}
